build/
third_party/slang/
third_party/metal-cpp/
.cache/
.idea/
.vscode/
*.metallib
*.spv
*.dxil
compile_commands.json
.DS_Store
*.o
*.obj
*.dylib
*.so
*.a
*.exe
*.pdb
*.dSYM/
.fleet/
CMakeUserPresets.json
